body{
	direction:rtl;
}
footer {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100%;
    background-color: #009bc1;
    color: white;
    text-align: center;
}
footer>a{
	color:#fff;
}
.header{
	background-color: #009bc1;
	color:#fff;
	width:100%;
	top:0;
	right:0;
	position:fixed;
	padding:20px;
	margin-top:0;
}
.avatar{
	margin-top:50px;
}